.top {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 14px;
    line-height: 16px;
    color: #213f7d;
  }

  .bot {
    display: grid;
    // grid-template-columns: repeat(2, 2fr);
    gap: 30px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        color: #545f7d;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.08px;
        text-transform: uppercase;
      }

      span {
        font-size: 15px;
        font-weight: 500;
        line-height: 18.77px;
        color: #545f7d;
      }
    }
  }
}

// Tablet view (768px - 1023px)
@media (max-width: 768px) {
  .bot {
    grid-template-columns: repeat(3, 2fr);
  }
}

// Mobile view (up to 767px)
@media (max-width: 576px) {
  .bot {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .bot {
    grid-template-columns: repeat(4, 2fr);
  }
}
