.container {
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 5px -2px gray;
  // border: 1px solid gray;
}

.inner {
  padding: 1rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    background: none;
    border: none;
  }
}

.right {
  display: none;
  align-items: center;
  gap: 30px;
}

.field {
  display: none;
}

.docs {
  text-decoration: underline;
  color: #213f7d;
  font-size: 16px;
  font-weight: 400;
}

.username {
  display: none;
  align-items: center;
  gap: 5px;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    color: #213f7d;
  }
}

.menu {
  display: block;
}

.openMenu {
  position: absolute;
  width: 80%;
  height: 100vh;
  background-color: #39cdcc;

  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-y: auto;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // transition-duration: 150ms;
  transition-duration: 300ms;
}

.insideMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 3px 10px;

  .backBtn {
    border: none;
    background: none;
    align-self: self-end;
    // padding: 3px 10px;
  }

  .adedeji {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #213f7d;
    justify-content: space-between;

    .adedejiName {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

@media (min-width: 1024px) {
  .inner {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .menu {
    display: none;
  }

  .openMenu {
    display: none;
  }

  .field {
    display: flex;
    align-items: center;

    .in {
      padding: 7px 0;
      padding-left: 10px;
      border: 1px solid #213f7d;
      opacity: 0.2;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      width: 300px;
      color: #545f7d;
      outline: none;
    }

    .searchIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #39cdcc;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 8px 15px;
    }
  }

  .in::-webkit-input-placeholder {
    /* Chrome, Safari, Opera */
    color: #545f7d;
  }

  .in::-moz-placeholder {
    /* Firefox 19+ */
    color: #545f7d;
  }

  .in:-ms-input-placeholder {
    /* IE 10+ */
    color: #545f7d;
  }

  .in::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #545f7d;
  }

  .right {
    display: flex;
  }

  .username {
    display: flex;
  }
}

@media (min-width: 768px) {
  .openMenu {
    width: 40%;
  }
}
