.container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: 8px;
  font-weight: bold;
  color: #39cdcc;
  padding-top: 5rem;
}

.svgStyle {
  width: 5rem;
  height: 5rem;
  color: #e5e7eb;
  fill: #39cdcc;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  animation: spin 1s linear infinite;
}
